<div class="container-fluid">
    <div class="row fh5co-post-entry single-entry">
        <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <figure class="animate-box">
                <% if (post.feature) { %>
                    <img src="<%= post.feature %>" alt="<%= post.title %>" class="img-responsive">
                <% } %>
            </figure>
            <span class="fh5co-meta animate-box">
                <% if (post.tags.length > 0) { %>
                    <div class="tag-container">
                        <% post.tags.forEach(function(tag) { %>
                            <a href="<%= tag.link %>" class="tag"><%= tag.name %>, </a>
                        <% }); %>
                    </div>
                <% } %>
            </span>
            <h2 class="fh5co-article-title animate-box"><%= post.title %></h2>
            <ol class="breadcrumb fh5co-meta fh5co-date animate-box" style="margin-bottom:0; background-color:#f8f9fa">
                <li><%= post.dateFormat %></li>
                <li><%= post.stats.words %>字</li>
                <li><%= post.stats.text %></li>
            </ol>

            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-md-12 animate-box post-content">
                        <p> <%- post.content %> </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 animate-box">
                        <% if (post.nextPost && !post.hideInList) { %>
                            <div class="next-post">
                                <div class="next">下一篇</div>
                                <a href="<%= post.nextPost.link %>">
                                    <h3 class="post-title">
                                        <%= post.nextPost.title %>
                                    </h3>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>

                <%- include('../_blocks/comment') %>
            </div>

        </article>
    </div>
</div>
