<!DOCTYPE html>
<html>
<head>
    <%- include('./_blocks/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
</head>
<body>
    <%- include('./_blocks/header') %>

    <!--  <a href="#" class="fh5co-post-prev"><span>ðŸ‘ˆ Prev</span></a>-->
    <!--  <a href="#" class="fh5co-post-next"><span>Next ðŸ‘‰</span></a>-->

    <!-- ç­‰grideaå‡ºè‡ªå®šä¹‰é¡µé¢åŠŸèƒ½å†ä¼˜åŒ–ä¸€ä¸‹ -->
    <% if (post.title.toLowerCase == 'links' || post.title == 'å‹é“¾') { %>
        <%- include('./layouts/links') %>
    <% } else if(post.title.toLowerCase == 'album' || post.title == 'å›¾å»Š') { %>
        <%- include('./layouts/album') %>
    <% } else { %>
        <%- include('./layouts/post-detail') %>
    <% } %>

    <!-- è¿”å›žé¡¶éƒ¨ -->
    <%- include('./_blocks/tool') %>

    <%- include('./_blocks/footer') %>

    <%- include('./_blocks/scripts') %>
</body>
</html>
