
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- 百度验证 -->
<meta name="baidu-site-verification" content="1IkquSGR9Z"/>

<title><%= themeConfig.siteName %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta name="description" content="<%= themeConfig.siteDescription %>"/>
<meta name="keywords" content="<%= themeConfig.siteDescription %>"/>

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico">

<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">

<!-- Modernizr JS -->
<script src="<%= themeConfig.domain %>/media/scripts/_vendors/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<scripts src="<%= themeConfig.domain %>/media/scripts/_vendors/respond.min.js"></scripts>
<![endif]-->

<!-- Comment -->
<% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
    <% if (commentSetting.commentPlatform === 'gitalk') { %>
        <link href="https://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css" rel="stylesheet">
    <% } %>

    <% if (commentSetting.commentPlatform === 'disqus') { %>
        <link rel="stylesheet" href="https://unpkg.com/disqusjs@1.1/dist/disqusjs.css" />
    <% } %>
<% } %>

<script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>

<link crossorigin="anonymous" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" href="https://lib.baomitu.com/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">
