<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title><%= themeConfig.siteName %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta name="description" content="<%= themeConfig.siteDescription %>"/>
<meta name="keywords" content="<%= themeConfig.siteDescription %>"/>

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico">

<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">

<!-- Modernizr JS -->
<script src="<%= themeConfig.domain %>/media/scripts/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<scripts src="<%= themeConfig.domain %>/media/scripts/respond.min.js"></scripts>
<![endif]-->

<!-- Comment -->
<% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
    <% if (commentSetting.commentPlatform === 'gitalk') { %>
        <link href="https://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css" rel="stylesheet">
    <% } %>

    <% if (commentSetting.commentPlatform === 'disqus') { %>
        <link rel="stylesheet" href="https://unpkg.com/disqusjs@1.1/dist/disqusjs.css"/>
    <% } %>
<% } %>


<!-- katex -->
<!--<link href="https://cdn.bootcss.com/KaTeX/0.11.1/katex.min.css" rel="stylesheet">-->

<link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

<% if (site.customConfig.baiduStats) { %>
    <!-- 百度统计 -->
    <%- site.customConfig.baiduStats %>
<% } %>
